{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block body
%}
<div class="share-assign">
  <div class="form-container">
    <div class="logo-container mb-3">
      <h1>Memory</h1>
    </div>
    <div class="routes container-fluid mb-3">
      <div class="row">
        <a class="btn btn-primary col-6 active" href="/login" role="button"
          >Login</a
        >
        <a class="btn btn-primary col-6" href="/register" role="button"
          >Register</a
        >
      </div>
    </div>
    <form class="assign" action="/login" method="post">
      <div class="mb-3">
        <label for="username" class="form-label"
          ><i class="fas fa-user me-2"></i> User Name:</label
        >
        <input
          type="text"
          class="username form-control"
          id="username"
          name="username"
          minlength="8"
          maxlength="16"
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label"
          ><i class="fas fa-key me-2"></i> User Password:</label
        >
        <input
          type="password"
          name="password"
          id="password"
          class="password form-control"
          minlength="8"
          maxlength="16"
        />
      </div>
      <div class="form-button">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-paper-plane me-2"></i> Submit
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  const formAssingTag = document.querySelector(".assign");
  const usernameTag = document.querySelector(".username");
  const passwordTag = document.querySelector(".password");

  formAssingTag.addEventListener("submit", (e) => {
    if (usernameTag.value === "" || usernameTag.value === null) {
      e.preventDefault();
      alert("Name is required!");
    } else if (passwordTag.value == "" || passwordTag.value == null) {
      e.preventDefault();
      alert("Password is required!");
    }
  });
</script>
{% endblock %}
